body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
}
.login-container{
    background-color: white;
    padding: 20px;
    border radius: 5px;
    box-shadow: 
    text-align: center;    semi-colon expected
}    at-rule or selector expented